/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo\ bateria.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-top: 60px; /* Espacio para la barra de navegación fija */
}

.navbar {
    background-color: #518ab1;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
    padding: 10px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    list-style: none;
    margin: 0;
    padding: 10px;
}

.nav-item:hover .submenu {
    display: block;
}

.logo img {
    height: 100%;
    width: 4%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    
}

.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
}

.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.producto {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    color: white;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.menu {
    display: none;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
}

#tabla-productos {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#tabla-productos th, #tabla-productos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#calcular, #solicitar {
    margin-top: 20px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}

#calcular:hover, #solicitar:hover {
    background-color:#007BFF;
}
